* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: sans-serif;
}

body{
    background-image: url('/money_bg.png');
    background-size: cover;
    padding-bottom: 3rem;
}

.heading {
  margin: 0rem 0 4rem 0;
  font-size: 3rem;
  font-weight: bold;
  color: #003049;
}

.chart_js_container {
  width: 50%;
}

.chart-container {
  width: 100%;
}

.w-100 {
  width: 100%;
}

.custom-buttons {
  background-color: grey;
  margin: 0.5rem 0rem;
  display: inline-block;
  padding: 0.8rem 1.4rem;
  border-radius: 0.2rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin-right: 0.3rem;
}

.button-1 {
  background-color: #2a9d8f;
}

.button-2 {
  background-color: #d62828;
}

.button-3 {
  background-color: #ffae12;
}

.button-4 {
  background-color: #403d39;
}

.button-5 {
  background-color: #4a4e69;
}

.d-flex-r {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.d-flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-type-1 {
  font-size: 2rem;
  padding: 0.4rem 0.4rem;
}





.radio-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}




.radio-button-label {
  display: inline-block;
  margin: .6rem 1.2rem .6rem 0;
  background-color: #ccc;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  width: 20rem;
}



.radio-button-label:nth-of-type(1){
    background-color: #2a9d8f;
}
.radio-button-label:nth-of-type(2){
    background-color: #d62828;
}
.radio-button-label:nth-of-type(3){
    background-color: #ffae12;
}
.radio-button-label:nth-of-type(4){
    background-color: #f91b78;
}
.radio-button-label:nth-of-type(5){
    background-color: #9163cb;
}


.radio-button-label input[type="radio"] {
    display: none;
}

.radio-button-label span {
    border-radius: 4px;
  padding: .8rem 1rem;
  font-size: 2rem;
  width: 20rem !important;
  display: inline-block;

}

.radio-button-label input[type="radio"]:checked + span {
  background-color: #515151;
}

.expense{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: .5rem 2rem;
    margin-bottom: 1.2rem;
    border-radius: .4rem;
    color: #fff;
    width: 20rem;
    max-width: 20rem;
    font-weight: 500;
}

.expense-num{
    font-size: 1.8rem;
    margin-right: 1rem;
}

.expense-text{
    font-size: 1.8rem;
}

.submit{
    border: none;
    width: 20rem;
    border-radius: .4rem;
    font-size: 1.8rem;
    background-color: #023047;
    
}

.show-expense-container{
    flex-direction: column-reverse;
}

@media (max-width:500px) {
    .radio-button-container{
        display: flex;
        flex-direction: column;
    }

    .radio-button-label{
        margin-right: 0 !important;

    }
    .chart_js_container {
        width: 98%;
      }
    
}
